<!DOCTYPE html>
<html lang="zh-cmn" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="common/comm :: header_web"></head>
<body class="gray-bg">
<div class="container" style="background-color: white;margin-top:30px;">
    <div class="row" style="padding-top: 30px;">
        <div th:include="user/custom/customServiceQuery::customQuery"></div>
    </div>
    <hr style="border: 1px solid;"/>
    <div class="row" style="margin-bottom: 30px;">
        <div class="col-sm-12">
            <shiro:hasRole name="1">
                <button type="button" class="btn btn-outline btn-primary" onclick="addCustom()">新增</button>
                <button type="button" class="btn btn-outline btn-danger" onclick="deleteCustom()">删除</button>
            </shiro:hasRole>
        </div>
    </div>
    <div class="row" style="margin: 50px 0px;">
        <table id="customService"></table>
    </div>
    <hr style="border: 1px solid;"/>
</div>
</body>
<script th:include="user/custom/customServiceQuery::customQueryFuntion"/>
<script>
    $table = $('#customService');

    $(function () {
        $table.bootstrapTable({
            url: 'layer/custom/selectList',          //请求后台的URL（*）
            method: 'GET',                      //请求方式（*）
            //toolbar: '#toolbar',              //工具按钮用哪个容器
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   //是否显示分页（*）
            sortable: true,                     //是否启用排序
            sortOrder: "desc",                   //排序方式
            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            pageNumber: 1,                      //初始化加载第一页，默认第一页,并记录
            pageSize: 20,                     //每页的记录行数（*）
            pageList: [20, 50, 100],        //可供选择的每页的行数（*）
            search: false,                      //是否显示表格搜索
            strictSearch: true,
            showColumns: true,                  //是否显示所有的列（选择显示的列）
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,             //最少允许的列数
            clickToSelect: true,                //是否启用点击选中行
            //height: 500,                      //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "customId",              //每一行的唯一标识，一般为主键列
            showToggle: true,                   //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            detailView: false,                  //是否显示父子表
            //得到查询的参数
            queryParams: function (params) {
                //这里的键的名字和控制器的变量名必须一致，这边改动，控制器也需要改成一样的
                var temp = {
                    size: params.limit,                         //页面大小
                    page: (params.offset / params.limit) + 1,   //页码
                    customPhone: $('#customPhone').val(),
                    deleteFlag: 0
                };
                return temp;
            },
            columns: [{
                checkbox: true,
                visible: true                  //是否显示复选框
            }, {
                field: 'wxOpenId',
                title: '微信号'
            }, {
                field: 'image',
                title: '客服二维码',
                formatter: function (value, row, index) {
                    return '<img src="' + value + '" style="width: 100px;height: 100px;" alt="图片显示不正常"/>';
                }
            }, {
                field: 'phone',
                title: '手机号'
            }, {
                field: 'customName',
                title: '客服名称'
            }, {
                field: 'createTime',
                title: '创建时间'
            }, {
                field: 'customId',
                title: '操作',
                width: 120,
                align: 'center',
                valign: 'middle',
                formatter: function (value, row, index) {
                    return "<button class='btn btn-outline btn-primary btn-sm' id='updateFun'>编辑</button>";
                },
                events: onclickEvent
            },],
            onLoadSuccess: function () {
            },
            onLoadError: function () {
                window.location.href = "skip/common/error";
            }
        });
    });

    function select() {
        $table.bootstrapTable('refresh');
    }


</script>
</html>


