<!DOCTYPE html>
<html lang="zh-cmn" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="common/comm :: header_web"></head>
<body class="gray-bg">
<div th:fragment="logListQuery">
    <div class="col-sm-3">
        <div class="row">
            <div class="col-sm-5">
                <label for="username" style="line-height: 35px;">管理员账号:</label>
            </div>
            <div class="col-sm-7">
                <input id="username" placeholder="管理员账号" class="form-control"/>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="row">
            <div class="col-sm-5">
                <label for="operateTypeValue" style="line-height: 35px;">操作类型:</label>
            </div>
            <div class="col-sm-7">
                <select class="form-control" id="operateTypeValue">
                    <option value="">请选择</option>
                    <option value="1">查询</option>
                    <option value="2">删除</option>
                    <option value="3">开启</option>
                    <option value="4">禁用</option>
                    <option value="5">上架</option>
                    <option value="6">下架</option>
                    <option value="7">推荐</option>
                    <option value="8">不推荐</option>
                    <option value="9">处理</option>
                    <option value="10">忽略</option>
                    <option value="11">添加</option>
                    <option value="12">还原</option>
                    <option value="13">更新</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <button type="button" class="btn btn-outline btn-warning" onclick="select()">查询</button>
    </div>
</div>

<script th:fragment="managerQueryFuntion">
    function disabledManager() {
        var array = common();
        if (array != false) {
            //发送数据库
            $.post('layer/manager/disabledManager', {managerIds: array.join(',')}, function (result) {
                if (result.status == 200) {
                    alert('禁用成功')
                    $table.bootstrapTable('refresh')
                } else {
                    alert(result.message);
                }
            })
        }
    }

    function openManager() {
        var array = common();
        if (array != false) {
            //发送数据库
            $.post('layer/manager/openManager', {managerIds: array.join(',')}, function (result) {
                if (result.status == 200) {
                    alert('开启成功')
                    $table.bootstrapTable('refresh')
                } else {
                    alert(result.message);
                }
            })
        }
    }

    function delManager() {
        var array = common();
        if (array != false) {
            //发送数据库
            $.post('layer/manager/deleteManager', {managerIds: array.join(',')}, function (result) {
                if (result.status == 200) {
                    alert('删除成功')
                    $table.bootstrapTable('refresh')
                } else {
                    alert(result.message);
                }
            })
        }
    }

    function common() {
        //获得选中行
        var selOption = $table.bootstrapTable("getSelections");
        //进行判断是否勾选了
        if (selOption.length == 0) {
            alert('请选择数据');
            return false;
        }
        var array = [];
        //循环遍历
        $.each(selOption, function (index, row) {
            array.push(row.managerId);
        })
        return array;
    }

    function addManager() {
        parent.locationCurrMenu();
        parent.addPage('添加管理员', ctx + '/skip/user/managerAdd');
    }


    window.onclickEvent = {
        'click #updateFun': function (e, value, row, index) {
            parent.locationCurrMenu();
            parent.addPage('修改管理员信息', ctx + '/skip/user/managerEdit');
        }
    }


    // 检查账号是否注册
    function checkAccount(username) {
        if (username == "" || username.trim().length == 0) {
            swal('尚未检测到账号', '请输入管理员账号', 'info');
            return false;
        } else if (username.trim().length < 5 || username.trim().length > 15) {
            swal('账号长度应该在5~10之间', '请重新输入账号', 'info');
            return false;
        }
        $.post('/wallpaper/layer/manager/checkUsername', {username: username}, function (data) {
            $('#h1').show();
            if (data.status == 200) {
                $('#h1').html(data.message).css('color', 'green');
            } else {
                $('#h1').html('调用失败，请联系技术人员').css('color', 'red');
            }
        });
    }


    //修改
    function editInfo() {
        if ($('#username').val() == "" || $('#username').val().length == 0) {
            swal('尚未检测到账号', '请输入管理员账号', 'info');
            return false;
        } else if ($('#username').val().length < 5 || $('#username').val().length > 15) {
            swal('账号应该在5~15位之间', '请重新输入账号', 'info');
            return false;
        } else if ($('#password').val() == "" || $('#password').val().length == 0) {
            swal('尚未检测到密码', '请输入密码', 'info');
            return false;
        } else if ($('#password').val().length < 6 || $('#password').val().length > 20) {
            swal('账号应该在6~20位之间', '请重新输入账号', 'info');
            return false;
        } else if ($('#userNick').val().length == 0 || $('#userNick').val() == "") {
            swal('尚未检测到管理员昵称', '请输入管理员昵称', 'info');
            return false;
        } else if ($('#userNick').val().length > 20 || $('#userNick').val().length < 1) {
            swal('昵称应该在1~20字以内', '请重新输入昵称', 'info');
            return false;
        } else if ($('#telphone').val().length == 0 || $('#telphone').val() == "") {
            swal('尚未检测到手机号', '请输入手机号', 'info');
            return false;
        } else if ($('#userNick').val().length != 11) {
            swal('手机号应该在11位', '请重新输入手机号', 'info');
            return false;
        }
        $.post('/wallpaper/layer/manager/updateInfo', {
            username: $('#username').val(),
            password: $('#password').val(),
            userNick: $('#userNick').val(),
            telphone: $('#telphone').val(),
            userRole: $('#userRole').val(),
            isUse: $('#isUse').val()
        }, function (data) {
            if (data.status == 200) {
                swal('修改成功', '', 'info');
                $('#operationInfo').modal('hide');
                loadData(pageinfo["page"]);
            } else {
                alert(data.msg);
            }
        })
    }
</script>
</body>
</html>