<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yushang.wallpaper.common.mapper.CustomeMapper">

    <sql id="customeServiceId">
        where  custom_service_id IN
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </sql>

    <update id="deleteSC">
        UPDATE tb_custom_service SET delete_flag = 1 <include refid="customeServiceId"/>
    </update>
    <update id="openSC">
        update tb_custom_service set is_top = 1 <include refid="customeServiceId"/>
    </update>
    <update id="disabledSC">
        update tb_custom_service set is_top = 2 <include refid="customeServiceId"/>
    </update>
    <update id="updateCustomeService">
        update tb_custom_service set is_top = 2 where custom_service_id = #{customServiceId}
    </update>
    <select id="selectCSList" resultType="com.yushang.wallpaper.common.pojo.TbCustomService">
        select custom_service_id,weixin,phone,image,name,is_top from tb_custom_service where delete_flag = 0 order by is_top,custom_service_id desc
    </select>
    <select id="selectCount" resultType="java.lang.Integer">
        select count(1) from tb_custom_service where delete_flag = 0
    </select>
    <select id="selectIsExistIsTop" resultType="java.lang.Integer">
        select count(1) from tb_custom_service where delete_flag = 0 and is_top = 1
    </select>
    <select id="getIsTopCustomId" resultType="java.lang.Byte">
        select custom_service_id from tb_custom_service where delete_flag = 0 and is_top = 1
    </select>
</mapper>